.FilterAccordion {
  border-top: 1px solid grey;
}

.FilterAccordion-header {
  width: 100%;
  background: none;
  border: none;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.FilterAccordion-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}

.FilterAccordion-arrow {
  font-size: 12px;
  transition: transform 0.5s ease;
}

.FilterAccordion-arrow.open {
  transform: rotate(180deg);
}

.FilterAccordion-content {
  padding: 8px 8px 12px;
}
