.CarCard {
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.CarCard h2 {
  margin: 0;
  font-size: large;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  text-align: left;
}

.CarCard h4 {
  font-size: small;
  font-weight: 300;
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CarCard h3 {
  font-size: larger;
  font-weight: 500;
  margin: 0;
}

.Car-info {
  display: flex;
  gap: 8px;
  font-size: medium;
  color: gray;
}

.CarCard .seller-btn {
  border: none;
  background: red;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: medium;
  margin: 12px;
  opacity: 0.85;
}

.Car-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 8px;
  gap: 4px;
  min-width: 0;
}
