.PC-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.loading {
  text-align: center;
  padding: 16px;
}

.empty {
  text-align: center;
  padding: 32px;
}

.loading-bottom {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #666;
  grid-column: span 2;
  font-weight: 500;
}
